<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616627277378-51afer5iulct23b64lc0gjthsed1ugbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616627277378-51afer5iulct23b64lc0gjthsed1ugbl</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ6pAZPdhB7qd9FpcVvxSU0_GdkFd3YqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>616627277378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emortech.payment</string>
	<key>PROJECT_ID</key>
	<string>payment-37ecd</string>
	<key>STORAGE_BUCKET</key>
	<string>payment-37ecd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616627277378:ios:b94610c4eb2bec959a67db</string>
</dict>
</plist>